.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.mainContainer {
    display: flex;
    border: 1px solid rgba(228, 228, 231, 1);
    border-radius: 20px;
    overflow: hidden;
    max-width: 1312px;
    margin: 0 auto;
}

.containerHeader {
    width: 100%;
}

.sidebarTabs {
    display: flex;
    gap: 24px;
    padding: 0 24px;
}

.sidebarTab {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(113, 113, 122, 1);
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
}

.sidebarTabActive {
    color: rgba(4, 30, 66, 1);
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/* Sidebar Styling */
.sidebar {
    max-width: 280px;
    width: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid rgba(228, 228, 231, 1);
    display: flex;
    flex-direction: column;
}

.profileTitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.profileTitle h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0px 0;
    align-items: center;
    color: rgba(39, 39, 42, 1);
}

.searchWrapper {
    margin: 16px;
    position: relative;
    display: flex;
    gap: 8px;
    border: 1px solid #E4E4E7;
    border-radius: 6px;
    padding: 6px 12px;
}


.searchInput {
    width: 100%;
    font-size: 12px;
    border: none;
    color: #A1A1AA;
    outline: none;
}

.filterContainer {
    display: flex;
    gap: 8px;
    padding: 0 16px 12px 16px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.filterContainer::-webkit-scrollbar {
    display: none;
}

.filterTag {
    padding: 6px 16px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #E4E4E7;
    color: #71717A;
    background-color: #FFFFFF;
}

.activeFilter {
    background-color: #041E42;
    color: #FFFFFF;
    border-color: #041E42;
}

.filterTag:hover:not(.activeFilter) {
    background-color: #F4F4F5;
}

.sidebarList {
    border-top: 1px solid rgba(228, 228, 231, 1);
    overflow-y: auto;
}

.sidebarItem {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-bottom: 1px solid rgba(228, 228, 231, 1);
}

.sidebarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebarInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebarName {
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 65, 85, 1);
}

.sidebarRole {
    font-size: 14px;
    color: rgba(100, 116, 139, 1);
}

/* Main Content Area */
.main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* Header Section */
.headerCard {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin-bottom: 32px;
}

.headerLeft {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}



.profileSubtitle {
    font-size: 14px;
    color: rgba(113, 113, 122, 1);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.grayDot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(113, 113, 122, 1);
    flex-shrink: 0;
}


.dinStatus {
    font-size: 14px;
    color: rgba(113, 113, 122, 1);
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
}

.activeTag {
    color: rgba(22, 163, 74, 1);
    font-weight: 500;
    background-color: rgba(220, 252, 231, 1);
    padding: 6px 12px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}


/* Grid Layouts */
.detailsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 16px;
    border-left: 4px solid #041E42;
    border-radius: 20px;
    padding: 20px;
}

.addressGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 24px;
}

.addressGrid .infoBlock {
    border: 1px solid rgba(228, 228, 231, 1);
}

.infoBlock {
    background-color: rgba(250, 250, 250, 1);
    padding: 12px 16px;
    border-radius: 8px;
}

.infoBlock label {
    display: block;
    font-size: 14px;
    color: rgba(82, 82, 91, 1);
    margin-bottom: 6px;
}

.infoBlock p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(39, 39, 42, 1);
    margin: 0;
}

/* Section Styling */
.section2 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.sectionHeading {
    font-size: 18px;
    font-weight: 500;
    color: rgba(39, 39, 42, 1);
    margin: 0;
    margin-bottom: 12px;
}

/* Table Design */
.tableContainer {
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid rgba(228, 228, 231, 1);
    overflow: hidden;
    margin-top: 20px;
}

.subTabs {
    display: flex;
    /* gap: 20px; */
    border-bottom: 1px solid rgba(228, 228, 231, 1);
}

.subTab {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(113, 113, 122, 1);
    cursor: pointer;
}

.subTabActive {
    color: rgba(4, 30, 66, 1);
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.dataTable th {
    height: 44px;
    text-align: left;
    font-size: 14px;
    color: rgba(113, 113, 122, 1);
    font-weight: 500;
    padding: 13.25px 16px !important;
    background-color: rgba(250, 250, 250, 1) !important;
    box-sizing: border-box;
}

.dataTable td {
    height: 56px;
    padding: 7.75px 16px !important;
    font-size: 14px;
    color: rgba(39, 39, 42, 1);
    border-top: 1px solid rgba(228, 228, 231, 1);
    box-sizing: border-box;
}

.companyRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.companyIconWrapper {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 244, 245, 1);
    border-radius: 6px;
}

.promoterTag {
    padding: 6px 12px;
    border-radius: 8px;
    background: rgba(245, 243, 255, 1);
    border: 1px solid rgba(221, 214, 254, 1);
    color: rgba(139, 92, 246, 1);
    font-size: 14px;
}

.nonPromoterTag {
    padding: 6px 12px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(228, 228, 231, 1);
    color: rgba(113, 113, 122, 1);
    font-size: 14px;
}

.typeTag {
    padding: 4px 8px;
    border-radius: 6px;
    background: #FAFAFA;
    border: 1px solid #E4E4E7;
    color: #27272A;
    font-size: 12px;
    font-weight: 500;
}

.companyIcon {
    width: 30px;
    height: 27px;
}

/* KMP Specific Container */
.kmpContainer {
    background-color: rgba(239, 246, 255, 1);
    border: 1px solid rgba(191, 219, 254, 1);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.kmpItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.kmpItem label {
    display: block;
    font-size: 14px;
    color: rgba(82, 82, 91, 1);
}

.kmpItem p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(39, 39, 42, 1);
    margin: 0;
}

.kmpFull {
    grid-column: span 2;
}

.regulatoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 244, 245, 1);
    padding: 12px 24px;
    margin: 32px 0;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: rgba(4, 30, 66, 1);

}

.checkContainer {
    margin-top: 32px;
}

.checkTitle {
    color: #27272a;
    margin: 0 0 12px;
    font-size: 18px;
}

.cardFrame {
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgba(228, 228, 231, 1);
    overflow: hidden;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

}

.bankingDefault {
    table-layout: fixed;
}

.pepSanctions th:nth-child(3),
.pepSanctions td:nth-child(3) {
    width: 40%;
}

.dataTable th {
    background: #f8fafc;
    text-align: left;
    padding: 12px 16px;
    color: rgba(113, 113, 122, 1);
    font-weight: 500;
    border-bottom: 1px solid rgba(228, 228, 231, 1);
}

.dataTable td {
    padding: 12px 16px;
    color: rgba(39, 39, 42, 1);
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.highSeverity {
    background: rgba(254, 242, 242, 1);
    color: rgba(239, 68, 68, 1);
    border: 1px solid rgba(254, 202, 202, 1);
}

.greenPill {
    background: rgba(220, 252, 231, 1);
    color: rgba(22, 163, 74, 1);
    border-radius: 100px;
}

.lowRiskPill {
    background: rgba(255, 251, 235, 1);
    color: rgba(245, 158, 11, 1);
    border: 1px solid rgba(253, 230, 138, 1);
}

.dotRed,
.dotAmber {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.dotRed {
    background: #ef4444;
}

.dotAmber {
    background: #f59e0b;
}

/* Timeline */

.section {
    margin-top: 32px;
}

.timeline {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    padding: 24px;
    position: relative;
}

.timelineItem {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
    position: relative;
    align-items: center;
}

.timelineDate {
    width: 94px;
    font-size: 13px;
    color: rgba(100, 116, 139, 1);
    text-align: right;
}

.timelineMarker {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timelineDotWrapper {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.timelineDot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(34, 197, 94, 1);
    z-index: 2;
}

.timelineDotInactive {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(161, 161, 170, 1);
    z-index: 2;
}

.timelineLine {
    position: absolute;
    top: 24px;
    bottom: -65px;
    width: 1px;
    background-color: #E5E7EB;
}

.timelineItem:last-child .timelineLine {
    display: none;
}

.timelineItem:last-child {
    margin-bottom: 0;
}


.timelineContent {
    flex: 1;
}

.timelineName {
    font-size: 16px;
    font-weight: 500;
    color: rgba(39, 39, 42, 1);
}

.timelineRole {
    font-size: 14px;
    color: rgba(113, 113, 122, 1);
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.roleDot {
    width: 5px;
    height: 5px;
    background-color: #9ca3af;
    border-radius: 50%;
    flex-shrink: 0;
}

/* Media Queries */

@media(max-width:1440px) {
    .regulatoryHeader {
        font-size: 18px;
        padding: 12px 18px;

    }
}

@media (max-width: 1200px) {
    .detailsGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .main {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .detailsGrid,
    .addressGrid,
    .kmpContainer {
        grid-template-columns: 1fr;
    }

    .kmpFull {
        grid-column: span 1;
    }

    .headerCard {
        flex-direction: column;
        gap: 12px;
    }
}

.sidebarItem {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-bottom: 1px solid rgba(228, 228, 231, 1);
    cursor: pointer;

    transition: background-color 0.2s ease;

    border-bottom: 1px solid transparent;
    border-left: 3px solid transparent;
}

/* hover only when NOT active */
.sidebarItem:not(.active):hover {
    background: rgba(244, 244, 245, 1);
}

/* clicked / active */
.active {
    background: rgba(219, 234, 254, 1);
    border-bottom: 1px solid rgba(37, 99, 235, 1);
    border-left: 3px solid rgba(37, 99, 235, 1);
}

/* Qualifications Section */
.qualList {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E7;
    border-radius: 20px;
    padding: 0 20px;
    overflow: hidden;
}

.qualItem {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    border-bottom: 1px solid #E4E4E7;
}

.qualItem:last-child {
    border-bottom: none;
}

.qualIconWrapper {
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F4F4F5 100%);
    border: 1px solid #E4E4E7;
    border-radius: 8px;
    /* flex-shrink: 0; */
}

.qualContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.qualTitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #27272A;
    margin: 0;
}

.qualInst {
    font-size: 16px;
    line-height: 24px;
    color: #52525B;
    margin: 0;
}

.qualMeta {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 4px;
    flex-wrap: wrap;
}

.qualSpecLabel {
    font-size: 14px;
    line-height: 20px;
    color: #71717A;
}

.specTag {
    background-color: #F4F4F5;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #27272A;
}

.qualYear {
    font-size: 14px;
    color: #71717A;
}