.container {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #111827;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 244, 245, 1);
    padding: 12px 24px;
    border-radius: 100px;
}

.headerTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: rgba(24, 24, 27, 1);
    margin: 0;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.infoGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.infoLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(113, 113, 122, 1);
}

.infoValue {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(39, 39, 42, 1);
}

.infoDivider {
    width: 1px;
    height: 20px;
    background-color: rgba(228, 228, 231, 1);
    display: inline-block;
}
.tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(228, 228, 231, 1);
}

.tab {
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(113, 113, 122, 1);
  cursor: pointer;
  position: relative;
}

.active {
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(4, 30, 66, 1);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}
